/*common styles*/
html,
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Roboto_Regular';
    font-size: 16px;
    background: #F7F9F9; 
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-weight: normal;
}
ul,
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #ffffff;
}
p{
    margin: 0;
}
audio,
video,
canvas,
iframe,
img,
svg,
textarea{
    vertical-align: middle;
}
textarea{
    resize: none;
}
input,
select,
button{
    outline: none;
    display: block;
    cursor: pointer;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    /* height: 100vh; */
}
.fullHeight{
    height: 100vh;
}
.container{
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 0 7px;
    display: block;
}
/*
colors:

#0F1620 //black
#1F2229 //black2
#ffffff //white
#F15A29 //red
#5B5E77 //gray

*/

/****************************main******************************/
/* header */
header{
    width: 100%;
    padding: 0.521vw 0;
    background: #ffffff;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.logo img{
    max-width: 64%;
}
.cart{
    display: flex;
    align-items: center;
    font-size: 0.875em;
    line-height: 1em;
    margin-left: 5vw;
    cursor: pointer;
}
.cartIc{
    width: 1.875vw;
    min-width: 32px;
    height: 1.875vw;
    min-height: 32px;
    margin-right: 10px; 
    background: url('../i/icon/ico_cart.png') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.cartInfo div{
    font-family: 'Roboto_Bold';
    line-height: 1.4em;;
}
.cartInfo div:first-child{
    color: #F15A29;
}
.cartInfo div > span{
    font-family: 'Roboto_Regular';
}
.block{
    display: flex;
    align-items: center;
}
.notification{
    position: relative;
    text-align: center;
    width: 2vw;
    min-width: 32px;
    height: 2vw;
    min-height: 32px;
    margin-right: 12px;
    background: url('../i/icon/ico_notification.svg') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.notifyNum{
    position: relative;
    top: -0.3vw;
    right: -1.3vw;
    width: 1.1vw;
    min-width: 15px;
    height: 1.1vw;
    min-height: 15px;
    padding: 0.15vw;
    border-radius: 50%;
    font-size: 0.985em;
    color: #ffffff;
    background: #F15A29;
}
.client{
    display: flex;
    align-items: center;
    font-size: 0.875em;
    line-height: 1em;
    margin-right: 3vw;
}
.clientIc{
    width: 1.975vw;
    min-width: 32px;
    height: 1.975vw;
    min-height: 32px;
    margin-right: 12px;
    background: url('../i/icon/ico_profile1.svg') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.clientInfo{
    margin-top: 5px;
}
.clientInfo div{
    font-family: 'Roboto_Bold';
    line-height: 1.4em;;
}
.clientInfo div:first-child{
    position: relative;
    color: #F15A29;
    cursor: pointer;
}
.clientInfo div:first-child:after{
    content: '';
    position: absolute;
    right: -15px;
    top: 5px;
    border: solid #F15A29;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
}
.clientInfo div:last-child{
    font-family: 'Roboto_Regular';
}
.clientInfo div > span{
    font-family: 'Roboto_Regular';
}
/* main class navigation */
nav{
    width: 100%;
    background: #0F1620;
}
nav .container ul {
    display: flex;
}
nav .container li{
    padding: 0.315vw 0.09vw 0.315vw 0;
    text-transform: uppercase;
    transition: all linear .18s;
}
nav .container li:hover{
    background: #F15A29;
}
nav .container li a{
    text-align: center;
    font-family: 'tradegothicprocyr-bdcn20';
    font-size: 1.5625em;
    padding: 0.31vw 1.025vw;
}
/* content */
.breadcrumbs .container{
    display: flex;
    padding: 1vw 7px 2vw 7px;
}
.breadcrumbs .container > * {
    margin-right: 7px;
}
/* breadcrumbs */
.breadcrumbs a{
    color: #5B5E77;
    font-size: 0.875em;
    text-decoration: underline;
}
.breadcrumbs span{
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background: url('../i/icon/ico_nav.png') center center no-repeat;
}
/* table */
.table button{
    border: 1px solid #B4B4B4;
    padding: 3px 20px;
    margin-right: 4px;
    border-radius: 4px;
    background: linear-gradient(to bottom,#EEEEEE,#CCCCCC);
    color: #6D6B68;
}
.agents1Wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table .container h2{
    text-transform: uppercase;
    font-family: 'Roboto_Black';
    font-size: 1.125em;
    line-height: 1.2em;
    letter-spacing: 0.3px;
}
table{
    width: 100%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
table tr th{
    position: relative;
    font-family: 'Roboto_Regular';
    font-size: 0.775em;
    font-weight: normal;
    color: #ffffff;
    background: #1F2229;
    padding: 0.7vw 0.5vw 0.7vw 0.26vw;
}
table tr td{
    font-size: 0.785em;
    color: #7A7DA1;
}
table tr td:nth-child(odd){
    height: 30px;
    background: #F0F0F0;
}
table tr td:nth-child(even){
    height: 30px;
    background: #E6E6E6;
}
table tr td:nth-child(3) {
}
table tr td:nth-child(5) {
    padding-left: 1vw;
    color: #1F2229;
    font-family: 'Roboto_Medium';
}
table tr td:nth-child(6) {
    padding-left: 1vw;
    font-family: 'Roboto_Medium';
}
table tr td:nth-child(7),
table tr td:last-child {
    font-size: 0.9em;
    padding-right: 2vw;
    text-decoration: underline;
    color: #4E7FB9;
}
.active{
    z-index: 1;
    position: relative;
    width: 40px;
    height: 20px;
    margin-bottom: 3px;
    background: #8CC63F;
    border-radius: 16px;
    cursor: pointer;
}
.active:after{
    z-index: 2;
    display: block;
    content: '';
    position: absolute;
    top: 2px;
    right: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1F2229;
}
.non_active{
    z-index: 1;
    position: relative;
    width: 40px;
    height: 20px;
    margin-bottom: 3px;
    background: #B3B3B3;
    border-radius: 16px;
    cursor: pointer; 
}
.non_active:after{
    z-index: 2;
    display: block;
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1F2229;
}
.controlled{
    z-index: 1;
    position: relative;
    width: 40px;
    height: 20px;
    margin-bottom: 3px;
    background: #E5CD1A;
    border-radius: 16px;
    cursor: pointer;
}
.controlled:after{
    z-index: 2;
    display: block;
    content: '';
    position: absolute;
    top: 2px;
    right: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1F2229;
}
/* for agents.html */
.turnedOff{
    z-index: 1;
    position: relative;
    width: 40px;
    height: 20px;
    margin-bottom: 3px;
    background: #D1D1D1;
    border-radius: 16px;
    cursor: pointer; 
}
.turnedOff:after{
    z-index: 2;
    display: block;
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #B3B3B3;
}
.doc{
    float: left;
    display: block;
    width: 12px;
    height: 22px;
    margin-right: 0.5vw;
    background:  url('../i/icon/ico_pdf.png') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.agents .doc{
    float: none;
}
.see{
    float: right;
    display: block;
    width: 1.2vw;
    height: 0.9vw;
    margin-right: 0.5vw;
    background: url('../i/icon/ico_see2.svg') center center no-repeat;
    background-size: contain;
    cursor: pointer; 
}
.agents table tr td:nth-child(2) a{
    text-transform: uppercase;
    color: #4E7FB9;
}
.agents table tr td:nth-child(5){
    font-family: 'Roboto_Regular';
    color: #7A7DA1;
}
.agents table tr td:nth-child(6){
    font-family: 'Roboto_Regular';
    color: #7A7DA1;
}
.agents table tr td:last-child{
    padding-right: 0;
}
.registered{
    color: #378EC8;
}
.canceled{
    color: #E85537;
}
.workInProgress{
    color: #F29A5F;
}
.approved{
    color: #209D5B;
}
.tableWrap{
    margin: 0;
    overflow-x: auto;
}
.tableWrap::-webkit-scrollbar{
  width: 10px;
  border-radius: 20px;
}

.tableWrap::-webkit-scrollbar-track{
  background: #DBDBDD;
  border-radius: 20px;

}
.tableWrap::-webkit-scrollbar-thumb{
  width: 18px;
  background: #9FA1A1;
  border: 6px solid #DBDBDD;
  border-radius: 16px;
}
table tr th .th {
    position: relative;
    display: table-cell;
    width: 93%;
    vertical-align: middle;
    cursor: pointer;
}
table tr th:after {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    content: '▼';
    font-size: 0.7em;
    top: -1px;
    width: 7%;
}

.agents1 table tr td:nth-child(2) a{
    color: #7A7DA1;
    padding-left: 1vw;
}
.agents1 table tr td:nth-child(3){
    color: #7A7DA1;
}
.agents1 table tr td:nth-child(5){
    color: #7A7DA1;
    padding-left: 1vw;
    font-family: 'Roboto_Regular';
}
.agents1 table tr td:nth-child(6){
    color: #7A7DA1;
    padding-left: 1vw;
    font-family: 'Roboto_Regular';
}
.agents1 table tr td:nth-child(7){
    color: #7A7DA1;
    padding-left: 1vw;
    font-family: 'Roboto_Regular';
    text-decoration: none;
    font-size: 0.785em;
}
.agents1 table tr td:last-child{    
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 0.785em;
    line-height: 2em;
}
/* for users.html */
.users table tbody tr:hover td:nth-child(odd){ 
    background: #D1D5D8;
}
.users table tbody tr:hover td:nth-child(even){ 
    background: #C1CAD1;
}
.users1 table tbody tr:hover td:nth-child(odd){ 
    background: #D1D5D8;
}
.users1 table tbody tr:hover td:nth-child(even){ 
    background: #C1CAD1;
}
.users table tr td:nth-child(2) a{
    text-transform: uppercase;
    text-decoration: underline;
    color: #7A7DA1;
    color: #4E7FB9;
}
.users table tr td:nth-child(3){
    padding-left: 0;
}
.users table tr td:nth-child(5){
    padding-left: 0;
    font-family: 'Roboto_Regular';
    font-size: 0.785em;
    color: #7A7DA1;
}
.users table tr td:nth-child(6){
    padding-left: 0;
}
.users table tr td:nth-child(6) a{
    text-decoration: underline;
    font-family: 'Roboto_Regular';
    color: #4E7FB9;
}
.users table tr td:nth-child(7){
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Roboto_Regular';
    font-size: 0.785em;
    color: #7A7DA1;
}
.users1 table tr td:nth-child(2){
    padding-left: 1vw;
}
.users1 table tr td:nth-child(3){
    padding-left: 1vw;
}
.users1 table tr td:nth-child(5){
    padding-left: 0;
    padding-right: 0;
    font-family: 'Roboto_Regular';
    font-size: 0.785em;
    color: #7A7DA1;
}
.users1 table tr td:nth-child(6){
    padding-left: 0;
}
.users1 table tr td:nth-child(6) a{
    text-decoration: underline;
    font-family: 'Roboto_Regular';
    color: #4E7FB9;
}
.users1 table tr td:nth-child(7){
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Roboto_Regular';
    font-size: 0.785em;
    color: #7A7DA1;
}
.users table tr td:last-child,
.users1 table tr td:last-child{
    padding-right: 0;
}
/* modal notification window */
.modal {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,.3);
    transition: all linear 0.3s;
}
.modal.activeModal{
    opacity: 1;
    visibility: initial;
}
.modalWrap {
    width: 90%;
    height: 27.9687vw;
    z-index: 7;
    position: absolute;
    top: 50%;
    left: 50%;
    /* padding: 3.125vw 3.125vw 2.625vw 3.125vw; */
    background: #F0F0F0;
    border-radius: 4px;
    transform: translate(-50%,-50%);
}
.index{
    top: 34%;
}
.headerModal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    width: 100%;
    background: #E6E6E6;
}
.headerModal h2{
    text-transform: uppercase;
    font-family: 'Roboto_Black';
    font-size: 1.125em;
    line-height: 1.2em;
    letter-spacing: 0.3px;
}
.icModal{
    position: relative;
    text-align: center;
    width: 2vw;
    min-width: 32px;
    height: 2vw;
    min-height: 32px;
    margin-right: 12px;
    background: url('../i/icon/ico_notification_modal.svg') center center no-repeat;
    background-size: contain;
}
.closeModal {
    display: block;
    width: 20px!important;
    height: 20px;
    background: url(../i/icon/closeModal.svg) center center no-repeat;
    cursor: pointer;
}
.notifyWrap{
    width: 100%;
    height: 23.95vw;
    padding: 0.5vw 1vw;
    overflow-y: auto;
    background: #F0F0F0;
}
.notify{
    font-size: 0.785em;
    color: #797A7D;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 10px;
}
.notify a{
    text-decoration: underline;
    color: #4E7FB9;
}
.notify div:last-child{
    padding-left: 25px;
}
.date{
    padding-left: 0.5vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7em;
    font-style: italic;
    color: #B3B3B3;
}
.note,
.profitable,
.attention{
    position: relative;
}
.note:before{
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('../i/icon/ico_note.svg') center center no-repeat;
    background-size: contain;
}
.profitable:before{
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url(../i/icon/ico_profitable.svg) center center no-repeat;
    background-size: contain;
}
.attention:before{
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('../i/icon/ico_attention.svg') center center no-repeat;
    background-size: contain;
}
.notifyWrap::-webkit-scrollbar{
  width: 18px;
  border-radius: 20px;
}

.notifyWrap::-webkit-scrollbar-track{
  background: #B3B3B3;

}
.notifyWrap::-webkit-scrollbar-thumb{
  width: 24px;
  background: #E6E6E6;
  border: 7px solid #B3B3B3;
  border-radius: 16px;
}

/********************************************** media queries ****************************************************/
@media(max-width: 2010px) {
    .notifyNum{
        top: -0.3vw;
        right: -1.3vw;
        width: 1.1vw;
        min-width: 15px;
        height: 1.1vw;
        min-height: 15px;
        padding: 0.15vw;
        font-size: 0.785em;
    }
}
@media(max-width: 1570px) {
    .notifyNum{
        top: -0.3vw;
        right: -1.3vw;
        width: 1.1vw;
        min-width: 15px;
        height: 1.1vw;
        min-height: 15px;
        padding: 0.15vw;
        font-size: 0.685em;
    }
}
@media(max-width: 1380px) {
    .container{
        width: 96%;
    }
}
@media(max-width: 1270px) {
    .notifyNum{
        top: -0.3vw;
        right: -20px;
        width: 1.1vw;
        min-width: 15px;
        height: 1.1vw;
        min-height: 15px;
        padding: 0.15vw;
        font-size: 10px;
    }
    body{
        font-size: 14px;
    }
    .logo img{
        max-width: 50%;
    }
    .agents table tr td:nth-child(2) a{
        font-size: 0.7em;
    }
    .active, 
    .non_active,
    .controlled,
    .turnedOff{
        width: 30px;
        height: 15px;
        margin-bottom: 3px;
    }
    .active:after, 
    .non_active:after,
    .controlled:after,
    .turnedOff:after{
        top: 2.25px;
        right: 4px;
        width: 10px;
        height: 10px;
    }
}
@media(max-width: 910px) {
    /* .container{
        width: 90%;
    } */
    body{
        font-size: 12px;
    }
    .logo img{
        max-width: 40%;
    }
    .cartIc{
        cursor: pointer;
    }
    /* .cartInfo div{
        display: none;
    } */
    .client{
        margin-right: 0;
    }
    .clientIc{
        cursor: pointer;
    }
    .clientInfo{
        display: none;
    }
    .date{
        font-size: 11px;
    }
    .notify{
        font-size: 12px;
    }
    .table button{
        padding: 2px 17px;
        font-size: 10px;
    }
}
@media(max-width: 710px) {
    body{
        font-size: 10px;
    }
    .logo img{
        /* max-width: 30%; */
        max-width: 100px;
    }
    .notification,
    .clientIc,
    .cartIc{
        min-width: 28px;
        min-height: 28px;
    }
    .date{
        font-size: 10px;
    }
    .notify{
        font-size: 11px;
    }
    .closeModal {
        width: 14px!important;
        height: 14px;
        background: url(../i/icon/closeModal.svg) center center no-repeat;
        cursor: pointer;
    }
}
@media(max-width: 640px) {
    .modalWrap {
        width: 100%;
        height: 87.9687vw;
        z-index: 7;
        position: absolute;
        top: 50%;
        left: 50%;
        /* padding: 3.125vw 3.125vw 2.625vw 3.125vw; */
        background: #F0F0F0;
        border-radius: 4px;
        transform: translate(-50%,-50%);
    }
    .index{
        top: 24%;
    }
    .notifyWrap{
        height: 83.95vw;
    }
}
@media(max-width: 480px) {
    .notifyWrap::-webkit-scrollbar{
        width: 8px;
        border-radius: 20px;
    }
    .notifyWrap::-webkit-scrollbar-thumb{
        width: 17px;
        background: #E6E6E6;
        border: 3px solid #B3B3B3;
        border-radius: 16px;
    }
    .cartIc{
        display: none;
    }
    .table button{
        padding: 2px 14px;
        font-size: 8px;
    }
}